In [4]:
import pandas as pd
namespaces={'ns':'htttp//www.example.com'}
dataframe=pd.read_xml('xml_namespace.xml',namespaces=namespaces,xpath='.//ns:city')
print(dataframe)

C:\Users\HP\AppData\Local\Temp\ipykernel_60992\1921086550.py:3: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dataframe=pd.read_xml('xml_namespace.xml',namespaces=namespaces,xpath='.//ns:city')

XMLSyntaxError: Start tag expected, '<' not found, line 1, column 1 (<string>, line 1)

In [7]:
import pandas as pd
df=pd.DataFrame({
    'Year':[2016,2015,2014],
    'ani':['A','B','C']
})
df

   Year ani
0  2016   A
1  2015   B
2  2014   C

In [8]:
import pandas as pd
df = pd.DataFrame({
  'time': ['2022-09-14 00:52:00-07:00', '2022-09-14 00:52:30-07:00',
           '2022-09-14 01:52:30-07:00'],
  'letter': ['A', 'B', 'C'],
})
df['time'] = pd.to_datetime(df.time)
 
df.query('time >= "2022-09-14 00:52:30-07:00"')

                       time letter
1 2022-09-14 00:52:30-07:00      B
2 2022-09-14 01:52:30-07:00      C

In [9]:
import pandas as pd

# Example DataFrame
data = {
    'time': [
        '2011-01-01 00:00:00',
        '2011-01-01 01:00:00',
        '2011-01-01 02:00:00'
    ],
    'value': [10, 20, 30]
}

df = pd.DataFrame(data)

# Ensure the 'time' column is a datetime type
df['time'] = pd.to_datetime(df['time'])

def rows_in_time_range(df, time_col, start_time_str, end_time_str):
    """
    Return rows from df where time_col is within start_time_str and end_time_str.
    
    Parameters:
        df (pd.DataFrame): The DataFrame to filter.
        time_col (str): Name of the datetime column.
        start_time_str (str): Start of the time range (YYYY-MM-DD HH:MM:SS).
        end_time_str (str): End of the time range (YYYY-MM-DD HH:MM:SS).
    
    Returns:
        pd.DataFrame: Filtered rows within the time range.
    """
    start_time = pd.to_datetime(start_time_str)
    end_time = pd.to_datetime(end_time_str)
    
    return df[(df[time_col] >= start_time) & (df[time_col] <= end_time)]

# Example usage
filtered_df = rows_in_time_range(df, 'time', '2011-01-01 00:30:00', '2011-01-01 02:00:00')
print(filtered_df)

                 time  value
1 2011-01-01 01:00:00     20
2 2011-01-01 02:00:00     30

In [10]:
import pandas as pd
df = pd.DataFrame({
  'date': ['2022-09-14', '2022-09-15', '2022-09-16'],
  'letter': ['A', 'B', 'C'],
  'dict' : [{ 'fruit': 'apple', 'weather': 'aces'},
            { 'fruit': 'banana', 'weather': 'bad'},
            { 'fruit': 'cantaloupe', 'weather': 'cloudy'}],
})
 
pd.concat([df.drop(['dict'], axis=1), df['dict'].apply(pd.Series)], axis=1)

         date letter       fruit weather
0  2022-09-14      A       apple    aces
1  2022-09-15      B      banana     bad
2  2022-09-16      C  cantaloupe  cloudy

In [11]:
import pandas as pd
td = pd.to_timedelta('1 days 06:30:00')
print(td)

1 days 06:30:00

In [12]:
import pandas as pd
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Alice', 'Carol', 'Bob'],
    'age':  [25,     30,   25,     27,     30],
    'city': ['NY',   'LA',  'NY',   'SF',   'LA']
})

print("Original:")
print(df)

df_unique = df.drop_duplicates()
print("\nDrop exact duplicates (keep first):")
print(df_unique)

df_name_unique = df.drop_duplicates(subset=['name'], keep='first')
print("\nDrop duplicates based on 'name' (keep first):")
print(df_name_unique)

Original:
    name  age city
0  Alice   25   NY
1    Bob   30   LA
2  Alice   25   NY
3  Carol   27   SF
4    Bob   30   LA

Drop exact duplicates (keep first):
    name  age city
0  Alice   25   NY
1    Bob   30   LA
3  Carol   27   SF

Drop duplicates based on 'name' (keep first):
    name  age city
0  Alice   25   NY
1    Bob   30   LA
3  Carol   27   SF

In [14]:
df.loc[:,df.columns!='age']

    name city
0  Alice   NY
1    Bob   LA
2  Alice   NY
3  Carol   SF
4    Bob   LA

In [16]:
import pandas as pd

# Create two sample DataFrames with some overlapping indexes
df1 = pd.DataFrame({'A': [10, 20, 30]}, index=['a', 'b', 'c'])
df2 = pd.DataFrame({'B': [100, 200, 300]}, index=['b', 'c', 'd'])

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

# Find intersection of indexes
common_index = df1.index.intersection(df2.index)

DataFrame 1:
    A
a  10
b  20
c  30

DataFrame 2:
     B
b  100
c  200
d  300